
.margin-up {
    margin-top: 50px;
}

.margin-up-panel {
    margin-top: 20px;
}

.margin-up-button {
    margin-top: 20px;
}

.margin-botton-panel {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

.text-center{
    text-align: center;
}


 .img-opa {
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

 .nav-color {
    background:black;
}

 .btn-block {
    display: block;
    width: 50%;
}




