
.margin-up {
    margin-top: 50px;
}

.margin-up-panel {
    margin-top: 20px;
}

.margin-botton-panel {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 20px;
}

.text-center{
    text-align: center;
}

 .elementotransparente {
     opacity: 0.4;
     -moz-opacity: 0.4;
     filter: alpha(opacity=40);
  }

 .img-opa {
    opacity: 0.2;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


