<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.Conn" connectionString="Data Source=SQL5026.site4now.net;Initial Catalog=DB_A3D985_Talavera;User Id=DB_A3D985_Talavera_admin;Password=Espinoza.94;" />
    </connectionStrings>
</configuration>